<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
</div>



<div class="container">

<div class="flat-description">
  <h3><%= @flat.name %></h3>
  <p><%= @flat.description %></p>
</div>

<div class="flat-address">
  <p><%= @flat.address %></p>
</div>


<div class="flat_details">
  <p><i class="fas fa-dollar-sign"></i><%= @flat.price_per_night %></p>
  <p><i class="fas fa-user-friends"></i><%= @flat.number_of_guests %> </p>
</div>

</div>

<a class= "btn btn-danger" <%= link_to "back", flats_path%> </a>


 <a class= "btn btn-warning" <%= link_to "edit", edit_flat_path%> </a>



